<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Fruit Store</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-item-list [contents]="contents" (onItemSelect)="itemSelected($event)"></app-item-list>
      </div>
      <div class="col-md-6">
        <app-item-detail [selectedItem]="item" (onUpdate)="updateCart($event)"></app-item-detail>
      </div>
    </div>
  </div>
</main>